MEVO/packages/
bin/
MEVO/obj/
Tools
*.suo
*.bak
*.user
*.log
*.pdb
*.pubxml
.vs/
Data/
*.db
App/web.config
/VBDLIS.DVC/Uploads
DLL/VDMS.Website.dll.config
/Config.rar
*.map
VBDLIS.Portal/Config/ConfigHCMLIS.rar
VBDLIS.Portal/Config/ConfigVBDLIS.rar
VBDLIS.Portal/Config/ConfigHCMLISTest.rar
VBDLIS.Portal/Config/ConfigKGLIS.rar
Website/Config/db_server.config
Website/Config/clients_server.config
Website/Config/appSettings_server.config
VBDLIS.Portal/Config/db_server.config
VBDLIS.Portal/Config/clients_server.config
VBDLIS.Portal/Config/appSettings_server.config
