html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    background: url(imgsrc/ornella-binni-102187-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0;
    padding: 0;
    width: 100%;
}
.head-tag {
    padding:8px;
    margin-left: 0px;
    margin-top: 0px;
    background: rgba(255,255,255,0.7);
    display: inline-block;
    position: fixed;
    width: 100%;
}
/*********/
.menu-left ul {
    float: left;
}

.menu-left ul li {
    display: inline-block;
    float: left;
}

.menu-left ul li a{
    display: inline-block;
    outline: none;
    color: #37434d;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    padding:.67rem 1rem;
    text-transform: uppercase;
}
.logo {
    margin-left: 150px;
    margin-right: 20px;
    max-width: 90px;
    max-height: 80px;
}
.form-inline {
    display:inline-block;
    transition:border-bottom-color 0.3s;
    padding: 7px;
}
.search-field {
    margin-left: 10px;
    border:none;
    background:none;
    border-bottom:1px solid transparent;
    transition:border-bottom-color 0.3s;
    width:150px;
}

.search-field:focus {
    border-bottom:1px solid #ccc;
    outline: none;
}
.explore {
    margin-left: 20px;
    margin-right: 20px;
    transition:background-color 0.25s;
}
.explore:hover {
    background: rgba(255, 255, 255, 0.5);
}
/*********************/

.menu-right-icon ul {
    float: right;
}

.menu-right-icon ul li {
    display: inline-block;
    float: left;
}

.menu-right-icon ul li:not(:first-child){
    margin-left: 30px;
}
.menu-right-icon ul li:last-child{
    margin-right: 150px;
}

.menu-right-icon ul li a{
    display: inline-block;
    outline: none;
    color: #37434d;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    padding:.67rem 1rem;
    text-transform: uppercase;
    transition:background-color 0.25s;
}
.menu-right-icon ul li i{
    display: inline-block;
    outline: none;
    color: #37434d;
    text-decoration: none;
    font-size: 20px;
    padding:.67rem 0px;
    cursor: pointer;
}
.menu-right-icon ul li img{
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    border-radius: 50%;
}
/************************/
.sign-up {
    text-decoration: none;
    background:#208f8f;
    color:#fff;
    border-radius:20px;
    padding:.67rem 1rem;
    transition:background-color 0.25s;
}
.sign-up:hover {
    background:#269d9d;
    color:#fff;
    text-decoration: none;
}
/**********************************************/
.my-profile {
    text-decoration: none;
}
.my-profile:hover {
    color:#37434d;
    text-decoration: none;
}
.menu-right-icon ul li a:hover {
    background: rgba(255, 255, 255, 0.5);
}


input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }