:root{
    font-size: 10px;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}



body{
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*-------------------NAV-------------------*/
.head-tag{
    margin-top: 0;
    width: 100%;
    height: 80px;
    background: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 50;
    margin-bottom: 20px;
}
.wrapper-header{
    position: absolute;
    margin:0;
    padding:0;
}

.logo{
    margin-left: 100px;
    margin-right: 20px;
    max-width: 100px;
    max-height: 80px;
}


.bar{
    margin-top: 25px;
    margin-right: 50px;
    float:right;
    height:100%;
}

.bar li{
    display: inline-block;
    font-size:2rem;
    line-height: 1.5;
    margin-right:4rem;
    cursor:pointer;

}


/*--------------------------HEADER---------------*/
.container{
    max-width: 120rem;
    margin:0 auto;
    padding:0 1.5rem;
    position:relative;

}

/*.box{
    width: auto;
    background: rgba(0,0,0,0.4);
    padding: auto;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 40px;
    color:#fafafa;
    padding-right: 20px;


}*/
.banner{
    width:100%;
    background-color: #262626;
    height: 300px;
    position: fixed;
    top:80px;
    background-size: inherit;
    margin-left: -60px;
    color: white;
    text-shadow:-10px 10px 10px rgba(0,0,0,0.7);


}
.box-gallery{
    width: auto;
    background: rgba(0,0,0,0.4);
    padding: auto;
    text-align: center;
    color:#fafafa;
    padding-right: 40px;
    padding-left: 40px;
}
.btn{
    all: unset;
    background: none;
    color: black;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.btn-edit:focus{
    outline:0.5rem auto #4d90fe;
}

.visual-hidden{
    position: absolute; !important;
    height: 1px;
    window: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}
.profile{
    padding: 5rem 0;
}

.profile:after{
    content: "";
    display:block;
    clear:both;
}

.profile-avatar {
    float:left;
    display:flex;
    width: calc(33.3333% - 1rem);
    justify-content: center;
    align-items: center;
    margin-right: 3rem;

}

.profile-avatar img{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    border-style: solid;
    border-color: #fafafa;
}

.profile-stats ,
.profile-biography{
    float:left;
    width:calc(66.666% - 2rem);
}
.profile-name{
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
}
.btn-edit{
    font-size: 1.4rem;
    line-height: 1.8;
    border: 1px solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
    cursor: pointer;
}

.profile-stats{
    margin-top:2.3rem;
}

.profile-stats li{
    display: inline-block;
    font-size:1.6rem;
    line-height: 1.5;
    margin-right:4rem;
    cursor:pointer;
}
.profile-stats li:last-of-type{
    margin-right: 0;
}
.profile-biography{
    font-size:1.6rem;
    line-height: 1.5;
    font-weight: 400;
    margin-top:2.3rem;
}
.stat-count,
.btn-edit{
    font-weight: bold;
}

/*----------GRID-----------*/
@supports (display:grid) {
    .profile{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;

    }
    .profile-avatar{
        grid-row: 1 / -1;
    }

    .profile-avatar,
    .profile-stats,
    .profile-biography,
    .profile-information,
    .gallery{
        width: auto;
        margin: 0;
    }

}

/*-----------------GALLERY------------------------*/
.content{
    width:100%;
    position: relative;
    top: 380px;
    height:auto;
    background: url("imgsrc/background2-edit.jpeg");
    display: -moz-box;
    box-shadow: 0 -5px 20px rgba(0,0,0,0.2) ;
    background-size: cover;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    margin:-5rem -1rem;
    padding-top: 20px;

    padding-bottom: 20px;
}
.gallery-item{
    position:relative;
    flex:1 0 22rem;
    margin:10px;
    color: #ffffff;
    cursor:pointer;
    max-height: 400px;
    max-width: 400px;
}

.gallery-item:hover .gallery-info,
.gallery-item:focus .gallery-info{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);


}

.gallery-info{
    display:none;
}

.gallery-info li{
    display:inline-block;;
    font-size: 1.7rem;
    font-weight: 600;
    list-style-type: none;
}

.gallery-item-like{
    margin-right: 2.2rem;
}
.gallery-image{
    width: 100%;
    height:100%;
    object-fit: cover;
}


/*----------------INFORMATION BOX---------------*/


.information-box{
    margin-top:20px;
    position: relative;
    width: 300px ;
    height: auto;
    float:right;
    background-color: rgba(0,0,0,0.1);
    margin-left: 50px;
    border-radius: 30px;
    min-height: 500px;
}

.following,
.follower,
.best-post{
    padding-top: 30px ;
    width: auto;
    height:auto;
    margin:0 2rem;
}

.text-inf{
    font-size:2rem;
    text-space: 3px;
    font-weight: 300;
    padding-bottom: 10px;
    font-family: Lato;
    color: #FFFFFF;
}

.following ul li,
.follower ul li{
    list-style-type: none;
    display: inline-block;
}

.following ul li img,
.follower ul li img{
    font-size: inherit;
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

/*------------------CHECK BOX-------------*/
.check-box{
    width: 700px;
    height: 100px;
    margin-left: 150px;
}

.check-box ul{
    margin-left: 30px;
}
.check-box ul li{
    list-style-type: none;
    display: inline-block;
    padding: 50px;
    padding-bottom: 10px;
    padding-top:10px;

    cursor: pointer;

}

.check-box ul li p{
    text-decoration: none;
    color: #fafafa;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    font-size: 2rem;


}

.check-box ul li:hover{
    background-color: #4d90fe;
    border-radius: 10px;
}
.wrapper-check{
    width:auto;
    height:auto;
    padding-top: 20px;
}