/*
html body{
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
}
ul, li {
    margin:0;
    padding:0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/

:root{
    font-size: 10px;
}
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}


body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
    background: url(img/ornella-binni-102187-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0;
    padding: 0;
}


.wrapper-header {
    display: inline-block;
    position: absolute;
    margin:0;
    padding:0;
}

.head-tag {
    display: inline-block;
    margin-top: 0;
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,0.7);
    position: fixed;
    z-index: 3;
}
.menu-left{
    margin-top: 15px;
    margin-right: 50px;
    float:left;
    height:100%;
}

.logo{
    margin-left: 150px;
    margin-right: 20px;
    max-width: 90px;
    max-height: 80px;
}


.menu-left li {
    display: inline-block;
    line-height: 1.5;
    margin-right:4rem;
    cursor:pointer;
    text-decoration: none;

}

.menu-left .form-inline {
    display:inline-block;
    border-bottom:1px solid transparent;
    transition:border-bottom-color 0.3s;
}
.search-field {
    padding: 5px;
    margin-left: 10px;
    border:none;
    background:none;
    border-bottom:1px solid transparent;
    box-shadow:none;
    transition:border-bottom-color 0.3s;
    font-size: 16px;
    color:#444444;
    width:200px;
}

.search-field:focus {
    border-bottom:1px solid #ccc;
    outline: none
}

.menu-search {
    margin-left: 20px;
    color:#37434d;
    font-size: 16px;
}
.menu-search:hover {
    color:#37434d;
    font-size: 16px;
    border-bottom: 1px solid #37434d;
    text-decoration: none;
}


.menu-right-icon{
    margin-top: 10px;
    margin-right: 150px;
    float:right;
    height:100%;
}


.menu-right-icon li{
    display: inline-block;
    line-height: 1.5;
    font-size: 26px;
    margin-right:4rem;
    cursor:pointer;

}

.home {
    text-decoration: none;
    color:#37434d;
    font-size: 16px;
}
.home:hover {
    border-bottom: 1px solid #37434d;
    color:#37434d;
    text-decoration: none;
}

.my-profile {
    text-decoration: none;
    color:#37434d;
    font-size: 16px;
}
.my-profile:hover {
    border-bottom: 1px solid #37434d;
    color:#37434d;
    text-decoration: none;
}

.ava{
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.login {
    text-decoration: none;
    color:#37434d;
    font-size: 16px;
}
.login:hover {
    border-bottom: 1px solid #37434d;
    text-decoration: none;
}
.active {
    text-decoration: none;
    background:#208f8f;
    border-radius:20px;
    color:#fff;
    padding:.67rem 1rem;
    transition:background-color 0.25s;
    font-size: 18px;
}
.active:hover {
    background:#269d9d;
    color:#fff;
    text-decoration: none;
}